.profile {
  width: 300px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: rgba(247, 248, 164, 0.3);
  box-shadow: 0 0 2px rgba(20, 89, 89, 0.5),
    0 0 4px rgba(20, 89, 89, 0.5);
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100px;
  border: 1px solid red;
  display: block;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tag,
.location {
  font-size: 16px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 18px;
  background-color: rgba(29, 201, 201, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 0;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.quantity {
  display: block;
  text-align: center;
  font-weight: bold;
}