.statistics {
  border-radius: 5px;
  background-color: rgba(247, 248, 164, 0.3);
  box-shadow: 0 0 2px rgba(20, 89, 89, 0.5),
    0 0 4px rgba(20, 89, 89, 0.5);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.statList {
  display: flex;
  
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  
    
}
.item:nth-child(1) {
  border-bottom-left-radius:5px;
}
.item:last-child {
  border-bottom-right-radius: 5px;
}

.label {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}

.percentage {
  color:#fff;
  font-size: 24px;
}